@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter&family=Bungee&family=Cabin&family=Poppins:wght@200&display=swap');
 

*{
  padding: 0;
  margin: 0;
}
body{
    width: 100vw;
  height: auto;
   overflow-x: hidden;
}
 
 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
 .navi{
   background :transparent;
   width: 100vw;
   margin: 0;
   padding: 0;
  }
   
  .navii-item-cont{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;

  }
  .navii-item-cont>*{
    padding: 0.4rem 2rem;

  }
.firster{
  background: url('https://images4.alphacoders.com/107/thumb-1920-1075418.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
}
 
 
.landing{
  padding: 0 4rem;
  width: 50%;
  padding-bottom: 1rem;
}
.containers{
  height: auto;
}

.landing h1,h3{
  font-style: italic;
  font-family: 'Bungee', cursive;
line-height: 1;
}
.landing>h1{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;

   
}
.landing>h3{
  color: white;

}
 
.download-btn>a{
  display: flex;
  background-image: linear-gradient(to right, rgb(231, 152, 4) , rgb(245, 245, 29)); 
   border-radius: 10px;
   border: none;
   width: 15rem;
   justify-content: center;
    height: 3.6rem;
  text-decoration: none;
   color: black;
}
.download-btn>a>img{
  width: 3rem;
  padding: 0.3rem;
}
.download-btn>a>div>p{
  font-size: 12px;
  margin: 0.4rem;
  text-align: start;
  font-weight: 700;
}
.download-btn>a>div{
  line-height: 1;
  padding: 0 0.4rem;
}
.download-btn>a>div>h3{
  font-size: 1.2rem;
  font-style: normal;
}
.landing>a>img{
  width: 13rem;
 }

.landing>p{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.carausel-cont{
  margin:  1rem 0;
}

.game-inside{
  
  height: 15rem;
  box-shadow: 0 0 0 0 rgb(129, 129, 74), 0 3px 15px 0 rgb(129, 129, 58);
  margin: 0 1rem;
}
.game>p{
  color: yellow;
}
.pubg{
  background: url('https://c4.wallpaperflare.com/wallpaper/320/205/156/playerunknown-s-battlegrounds-pubg-mobile-game-hd-wallpaper-preview.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
}
.BGMI{
  background: url('https://wallpaperaccess.com/full/6163557.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
}
.cod{
  background: url('https://wallpapercave.com/dwp1x/Pzb3zCA.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
}
.wcc3{
  background: url('https://wallpapercave.com/wp/wp8833654.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
}
.valorant{
  background: url(' https://wallpaperaccess.com/full/2576093.jpg'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
   background-position:  center ;
}
.sliders{
  padding: 1rem;
  transform: skew(-10deg );

}

.carausel-text{
  padding:3rem  ;
   padding-left: 4rem;
}

.carausel-text>h1{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.3rem;
  font-style: italic;
  font-weight: 600;
  font-family: 'Bungee', cursive;

}

.carausel-text>p{
  color: rgb(185, 183, 183);

}
.logo{
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.featured{
  text-align: center;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 600;
  font-family: 'Bungee', cursive;
margin: 0;
}
.seco-third{
  position: relative;
  height: auto;
}
.second{
  background: url('https://images3.alphacoders.com/110/thumbbig-1102038.webp'),linear-gradient(rgb(104, 102, 102), rgb(37, 37, 37));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
   /* height:30rem; */
   position: relative; 
   z-index: -1;
   width: 100%;
   margin-top: -6rem;
  padding: 2rem 0;
   transform: skewY(-8deg);
   /* bottom:  13rem; */
   display: flex;
}

.second-col{
   
  /* height: 25rem; */
   transform: skewY(8deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem ;
  padding-top: 5rem;
}
.second-col.first{
   width: 60%;
}
.second-col.seconds{
  width: 40%;
  display: flex;
  justify-content: end;
  padding-bottom: 4rem;
  align-items: center;
 position: relative;
 z-index: 10;
}
.seconds>a{
  text-decoration: none;
  color: white;
 

}
 
 
.seconds>a>h1{
  font-size: 3.1rem;
font-weight: 600;

}
.second-col>div{
  display: flex;
  width: 100%;
}

.second-col>div>*{
  padding:0 1rem;
  color: lightgray;
}
.second-col>h1{
  padding-left: 1rem;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.8rem;
  font-style: italic;


}
.date{
  padding-bottom: 1rem;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.1rem;
  opacity: 0.8;
}

.third{
  position: relative;
  width: 100%;
  /* height: 25rem; */
  background: url('https://images2.alphacoders.com/114/thumbbig-1149344.webp'), linear-gradient(white, black), linear-gradient(to bottom right, rgb(104, 102, 102), rgb(37, 37, 37));  
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
  /* bottom: 1rem; */
  z-index: -2;
  display: flex;
  padding: 2rem 0;
  margin-top: -6rem;
}
 
.third-col{
   
  height: 25rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem ;
  padding-top: 5rem;
}
.third-col.first{
   width: 40%;
   padding-left: 8rem;
   padding-top: 8rem;
}
.third-col.seconds{
  width: 60%;
  display: flex;
  justify-content: end;
  padding-bottom: 4rem;
  align-items: end;
  
   
}

.third-col.seconds>div{
  display: flex;
  justify-content: end;
  align-items: end;

}

.third-col.seconds>div>h1{
  padding-left: 1rem;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 141, 34)) ,       color-stop(0.9, #ff2), color-stop(1, orange) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22) ,   color-stop(0.9, #ff2), color-stop(1, orange) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.8rem;
  font-style: italic;

}

.third-col.seconds>div p{
  padding:0 1rem;
  color: lightgray;
}
.third-col.first>a{
  text-decoration: none;
  color: white;
 

}
.third-col.first>a>h1{
  font-size: 3rem;
font-weight: 600;
}

.Faqs{
  
  background: url('https://c4.wallpaperflare.com/wallpaper/390/777/113/call-of-duty-video-games-elithiumdizzybug-wallpaper-preview.jpg'), linear-gradient( black,white), linear-gradient(to bottom right, rgb(104, 102, 102), rgb(37, 37, 37));  
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
  text-align: center;
  color: white;
  font-family: 'Bungee', cursive;
}
 .Faqs>h1{
   font-size: 3rem;
 }
.dropdown{
  padding: 2rem 4rem 4rem;
}

 .acord-text{
   color: rgb(61, 61, 61);
   font-weight: 200;
   
 }

.dropdown-faqs>div{
  margin: 1rem;
}
 
.about{
  display: flex;
  width: 100%;
  justify-content: center;
padding: 1rem;
}
.about>*{
  margin:0 0.5rem;

}

.links{
  display: flex;
  width: 100%;
 justify-content: center;
}
.links>*{
  text-decoration: none;
  color: white;
  margin: 0.4rem;

}
.footer{
  background-color: black;
  color: white;
  width: 100vw;
  background: url('https://c4.wallpaperflare.com/wallpaper/390/777/113/call-of-duty-video-games-elithiumdizzybug-wallpaper-preview.jpg'), linear-gradient( black,white), linear-gradient(to bottom right, rgb(104, 102, 102), rgb(37, 37, 37));  
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center ;
  padding-bottom: 2rem;
}
 
.footer>*{
  text-align: center;
}
.footer>h4{
  font-size: 2rem;
  padding: 1rem;
}

.footer>imgs{
  justify-content: center;
}

@media (max-Width:720px){
.containers{
  height: auto;
}
   .burger{
     width: 100%;
     display: flex;
     justify-content: end;
     padding-right: 3rem;
     border: none;
    }
    
   .carausel-text>p{
    width: 70%;
    font-size: 18px;
   }
   
   
  .landing{
    padding: 3rem;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
   .logo{
     margin-top:-2rem;
     margin-bottom:2rem;
     width: 6rem;
   }
  .landing>h1{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing>h3{
    font-size: 1.2rem;
  }
  .landing>p{
    font-size: 1rem;
  }
  
 
  
  .landing>a>img{
    width: 18rem;
    
  }
  .landing h1,h3{
    font-style: italic;
    font-family: 'Bungee', cursive;
    line-height: 1;
    width: 100%;
  }
   
   .carausel-text{
    padding: 1rem; 
    padding-left: 3rem;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     text-align: center;
    }
   .carausel-text>h1{
     font-size: 2.5rem;
     width: 100%;

   }

  .second{
    transform: skew(0deg);
    position:relative;
    top: 4rem;
    border: none;
    display: grid;
    height: auto;
  }

  .second-col.first{
    transform: skew(0deg);
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 2rem;
    padding: 1rem;
  }
.second-col.first>h1{
 font-size: 1.8rem;
}
.date{
  font-size: 1rem;
  opacity: 0.8;
}
.second-col.first>div>p{
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
  .second-col.seconds{
    width: 100vw;
    height: auto;
    transform: skew(0deg);
    padding: 1rem;
  }
div.seco-third{
  height: 50rem;
}
  .second-col.seconds>a>h1{
    font-size: 2rem;
  }
  
  .third{
    transform: skew(0deg);
    position:relative;
    display: grid;
    top: 8rem;
    border: none;
    height: auto;
  }
 
  .third-col.seconds{
    width: 100vw;
    text-align: end;
    padding: 2rem;
    padding-top: 1rem;
    height: auto;
  }
.third-col.seconds>div>h1{
  font-size: 1.8rem;
  
}
.third-col.seconds>.date{
  font-size: 0.8rem;
  
}
.third-col.seconds>.date>p{
  
  margin: 0;
}
.third-col.seconds>div>p{
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
  .third-col.first{
    width: 100vw;
    position: inherit;
    height: auto;
    text-align: center;
    padding: 1rem;
  }

  .third-col.first>a>h1{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
   .Faqs>h1{
     font-size: 2rem;
     padding-top: 1rem;
   }
  
.featured{
  font-size: 2.5rem;
}
 

.dropdown{
  padding: 2rem 1.8rem 2rem;
}

 .acord-text{
   color: rgb(43, 43, 43);
   font-weight:lighter;
   font-size: 0.8rem;
   font-family:'Poppins';

   
 }
 .accord-btn{
  font-size: 0.85rem;
  font-family:'Poppins';
}

.dropdown-faqs>div{
  margin: 0.5rem;
}

.sliders{
  width: calc(100vw - 2rem);
  margin:0 1rem;
}

}